body,
html {
	height: 100%
}

body {
	font-family: Montserrat, sans-serif;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	color: #444;
	font-size: 14px
}

.container-full {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 100%
}

.bkg-img {
	background: url(../images/bkg-img.png) no-repeat center;
	background-size: cover
}

.form-fields label {
	font-size: 12px
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto
}

.form-signin .checkbox {
	font-weight: 500;
	color: #101010
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px
}

.form-signin .form-control:focus {
	z-index: 2
}

.form-signin input[type=email] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.form-signin input[type=password] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

h1.heading-welcome {
	color: #ffffff;
	font-size: 48px;
	font-weight: 600
}

.sub-heading {
	color: #ffffff;
	font-size: 24px;
	font-style: italic;
	font-weight: 600
}

.right-side {
	padding: 0 60px
}

.sup-left-side {
	padding: 0 60px;
	text-align: right
}

.sup-left-side .right-content {
	width: 100%
}

.fw-300 {
	font-weight: 300 !important
}

.heading-color.font-bold {
	font-weight: 600
}

.heading-color {
	color: #191D1F;
	/* font-family: Manjari, sans-serif; */
	font-weight: 600
}

.form-style .form-fields input {
	padding: 0;
	border: 0;
	border-bottom: 1px solid #101010;
	font-size: 18px;
	background: linear-gradient(89.96deg, #3e0762 4.14%, #cb1f53 90.65%);
	-webkit-background-clip: text;
	font-weight: 500;
	border-radius: 0;
	margin-bottom: 0;
	color: #3e0762
}

.mb-6,
.my-6 {
	margin-bottom: 4.5rem !important
}

.link-it {
	font-size: 10px;
	font-style: italic;
	color: #101010;
	line-height: 27px
}

.error-text {
	font-size: 10px;
	color: red
}

.link-it:hover {
	color: #101010;
	text-decoration: none
}

.checkbox label {
	font-size: 10px;
	color: #101010;
	margin-bottom: 0px;
}

.checkbox input {
	float: left;
	margin-right: 5px
}

.btn.btn-primary {
	border-radius: 20px;
	background: #41afaa;
	border: 0;
	font-weight: 600;
	font-size: 18px;
	color:#ffffff;
}

.mb-4,
.mb-5 {
	position: relative
}

span.eye-password,
span.toggle-Confpassword {
	background: url(../images/view-hide.png);
	width: 20px;
	height: 20px;
	display: inline-block;
	float: right;
	position: absolute;
	top: 30px;
	background-repeat: no-repeat;
	right: 0;
	z-index: 9;
	cursor: pointer
}

span.toggle-Confpassword.eye-text,
span.toggle-password.eye-text {
	background: url(../images/view-eye.png);
	background-size: 18px auto;
	width: 20px;
	height: 20px;
	display: inline-block;
	float: right;
	position: absolute;
	top: 30px;
	background-repeat: no-repeat;
	right: 0;
	z-index: 9;
	cursor: pointer
}

input[type=password] {
	padding-right: 25px !important
}

.form-signin .form-fields {
	margin: 4rem 0
}

.text-itc {
	font-size: 12px;
	font-style: italic;
	color: #101010;
	font-weight: 600
}

a.link {
	color: #a91956
}

a.link:hover {
	text-decoration: none;
	color: #a91956
}

.pass-reset .form-signin .form-fields {
	margin: 5rem 0
}

.cong-content {
	width: 100%;
	max-width: 430px;
	padding: 15px;
	margin: auto
}

.cong-content p {
	line-height: 25px
}

@media (max-width:768px) {
	.m-rev {
		flex-direction: column-reverse;
		height: auto !important
	}

	h1.heading-welcome {
		color: #fff;
		font-size: 28px;
		font-weight: 600;
		text-align: center
	}

	.right-side {
		padding: 30px 30px;
		text-align: center
	}

	.sup-left-side {
		padding: 30px 30px;
		text-align: center
	}

	.sub-heading {
		color: #fff;
		font-size: 16px
	}

	.left-side {
		padding: 40px 0
	}

	.sup-right-side {
		padding: 40px 0
	}

	.form-signin .form-fields {
		margin: 2rem 0
	}

	.mb-5,
	.my-5 {
		margin-bottom: 2rem !important
	}

	.pass-reset .form-signin .form-fields {
		margin: 4rem 0
	}
}