 a.btn.btn-outline-light.btn-sm {
     border: 1px solid #000;
     color: #000;
     padding: 5px 25px;
     line-height: 1.6;
 }

 .form-section {
     background: #fff;
     margin-top: 80px;
     padding: 40px 50px 50px 30px;
     border-radius: 10px;
     box-shadow: -7px 0px 18px 0px #dcd3b4;
     box-sizing: content-box;
 }

 button.btn.btn-primary {
     background: #41b0aa;
     font-weight: 600 !important;
     border: none;
     width: 100%;
 }

 a {
    color: rgb(65 176 170);
    text-decoration: none;
}

a:hover {
    color: #2463b1;
}

.nav-pagination .shadow-sm {
    box-shadow: none;
}

.nav-pagination .flex.gap-2.items-center.justify-between {
    display: none; 
}


 /* .main-setion {
    background: linear-gradient(
16deg, #fdda65 0%, #4aaee2 100%);
    min-height: 100vh;
} */


 .login-full-section h3 {
     font-weight: bold;
     margin-bottom: 24px;
     text-transform: uppercase;
 }

 .col-md-2.list-section {
     background: #c6ac50;
     /* height: 100vh; */
     margin: 0 !important;
     padding: 0;
     border-radius: 0 !important;
     border: none;
     display: block;
 }


 .col-md-2.show-section {
     background: #c6ac50;
     margin: 0 !important;
     border-radius: 0 !important;
     border: none;
     height: 100vh;
     padding: 0;
 }

 .list-group-item.active {
     background: #cabb85;
     border: none;
     border-top: 1px solid #fff;
 }

 .list-group a {
     background: #c6ac50;
     color: #fff;
 }

 .list-group-item.list-group-item-action {
     border-radius: 0;
     background-color: #c6ac50;
     color: #fff !important;
     border-bottom: 1px solid #a15b5ba6;
     padding-top: 16px;
     border-left: 0;
     border-right: 0;
     padding: 13px;
     font-weight: 500;
 }

 .list-group-item.list-group-item-action:hover {
    background: #917318;
}

 .dash-section h3 {
     font-weight: bold;
     padding-bottom: 15px;
 }

 button.btn.btn-outline-light.btn-sm {
     border: 1px solid #2a6db7;
     color: #2a6db7;
     line-height: 1;
     padding: 9px;
 }

 button.btn.btn-outline-light.btn-sm:hover {
     border: 1px solid #2a6db7;
     background: #2a6db7;
     color: #fff;
 }

 .table th {
     font-weight: 600;
     color: #555;
 }

 .table td {
     vertical-align: middle;
 }

 .sidebar {
     background: #1e293b;
 }

 .sidebar a {
     color: #cbd5e1;
 }

 .dash-section {
     margin-top: 40px;
 }

 .col-md-9.my-pro {
     padding: 40px;
 }

 a.btn.btn-primary {
     background: #41b0aa;
     border: none;
 }

 a.btn.btn-primary:hover {
    background: #106460;
}

 a.btn.btn-primary:active {
     background-color: #c6ac50;
 }

 a.btn.btn-sm.btn-secondary {
     background: lightgray;
     color: #000;
 }

 .login-full-section {
     padding: 40px;
 }

 .nav-pagination svg {
     width: 30px;
 }

 .nav-pagination .border {
     border: 0 !important;
 }

 .login-full-section>.col-md-10.offset-md-1 {
     margin-left: 0;
     width: 100%;
 }

 .login-full-section h3 {
     margin-top: 0 !important;
 }

 table.table thead tr th {
     background: #2463b1 !important;
     color: #fff !important;
 }

 .list-group-item+.list-group-item.active {
    background: #917318;
    border-top:0;
}

.navbar .container {
    max-width: 100% !important;
    padding-left: 40px;
    padding-right: 40px; 
}

nav.navbar a.navbar-brand {
    margin: 0;
    margin-left: 20px;
}

nav.navbar.bg-light {
    background: #fbf6e3 !important;
     
}

.login-full-section .container {
    padding:0;
}

.login-full-section .container.mt-4 {
    margin-top:0 !important;
}

/********************/

nav[aria-label="Pagination Navigation"] > div > span, nav[aria-label="Pagination Navigation"] > div > a{
  display: inline-block;
}

nav[aria-label="Pagination Navigation"] > div + div > div + div > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav[aria-label="Pagination Navigation"] > div + div > div + div > span a  {
    display: inline-block;
}

nav[aria-label="Pagination Navigation"] > div + div > div + div > span a  {
    display: inline-block;
} 

nav[aria-label="Pagination Navigation"] > div + div > div + div > span svg {
    width:20px
}

nav[aria-label="Pagination Navigation"] > div + div > div + div > span > span > span {
    display: block;
}







 @media(max-width:768px) {

     .col-md-2.show-section {
         height: inherit;
     }

     .table th,
     .table td {
         font-size: 12px;
         padding: 6px;
     }

     a.btn.btn-sm.btn-secondary {
         margin-bottom: 4px;
     }
 }