#ajax-spinner{
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* opacity: .8; */
    z-index: 100001 !important;
    pointer-events: none;
}

/* div#livesearch {
    margin-left: 50px;
} */
.ajax-spinner .ajax-spinner-inner {
    background: url(../images/loader-gif.gif);
    position: fixed;
    left: 50%;
    top: 40%;
    height: 80px;
    display: block;
    z-index: 100002 !important;
    background-size: 100%;
    width: 80px;
}

div#livesearch, div#livesearch_M {
    z-index: 1;
    position: absolute;
    background: #fff;
    width: 354px;
    text-align: left;
    font-size: 13px;
    box-shadow: 0 2px 4px #d8d8d8;
    color: #767f88;
    text-transform: none;
}

div#livesearch ul, div#livesearch_M ul {
    margin: 0;
    list-style: none;
    padding: 10px 0;
    max-height: 250px;
    overflow: auto
}

div#livesearch ul li a:hover, div#livesearch_M ul li a:hover {
    color: #E02222;
}

div#livesearch ul li, div#livesearch_M ul li {
    padding: 3px 15px
}

div#livesearch ul li a, div#livesearch_M ul li a {
    color: #333;
    font-weight: 500
}

/* search loader */
.search-loader{
    background: url(../images/ajaxloader2.gif) no-repeat right !important;
}
#newsletter-loader-error.error {
    font-size: 12px;
    font-weight: normal;
    color: #FF8181;
}

/* contact-us page start */
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    /* color: #fff;
    background-color: #e84d1c;
    border-color: #e84d1c;
    outline: none !important; */
}

.shadow {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.contwrap {
    display: flex;
    align-items: flex-start;
    padding: 0;
    border-bottom: 1px dashed #dddddd;
}

.contwrap span {
    flex: 1;
    padding: 10px;
}

.contwrap i.fa {
    font-size: 20px;
    display: inline-block;
    padding: 0.5em 0.6em;
}

/* contact-us page end */

/* footer modale fast view */
#myModal {
    text-align: center;
    padding: 0 !important;
    z-index: 100000;
}

#myModal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#myModal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#myModal .modal-header{
    border-bottom: 0px !important;
}

/* footer modale fast view end */

/* contact-us page */
label.error{
	font-size:12px;
	font-weight:normal;
	color:#FF0000;
}

/* contact-us page end */

/* faq page start */

.panel-group.faqs h4,
.panel-body.faq-ans p {
    font-family: sans-serif;
    text-transform: none;
}

.panel-group.faqs h4 {
     font-size: 14px;
    font-weight: bold;
}

.panel-body.faq-ans p {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.panel-group.faqs h4 a,
.panel-group.faqs h4 a:hover {
    text-decoration: none;
    color: #333;
}
 .panel-group.faqs .panel-default {
  border-color: #ffc5b3;
}

.panel-group.faqs .panel-heading {
  color: #333;
  background-color: #ffeee9;
  border-color: #e84d1c;
}
.panel-body.faq-ans {
  border-top-color: #ffc5b3 !important;
}          
/* faq end */

/* testimonial page start */
.snip1533 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 15px 0 25px;
    /*max-width: 310px;*/
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.snip1533 figcaption {
    padding: 13% 10% 7%;
}

.snip1533 figcaption:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #d2652d;
    content: "\f10e";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
}

.snip1533 h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 !important;
}

.snip1533 h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
    padding: 0 !important;
    line-height: 24px;
}

.snip1533 p {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
    line-height: 20px;
}

.row.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

/* testimonial page end */


